/*-- scss:defaults --*/
$blue: #08306b;
$vanilla: #fff9ed;
$white: #ffffff;


$body-bg: $white;
$presentation-heading-color: $blue;
$link-color: $blue;


$font-family-sans-serif: "Manrope";
$presentation-heading-font: "IBM Plex Serif";
